header {
  background-color: #8a5a3b;
  display: flex;
  justify-content: space-between;
  padding: 35px;
  font-size: 25px;
  color: white;
}
body{
    background-color: #f3e5cf;
    color: #4a2e1e;
}

nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}


footer {
  background-color: #8b5e3c;
  color: white;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  
}

/* phone  */

@media (max-width: 600px) {}


/* tablet  */

@media (max-width: 1024px) {}